body {
    background: white;
    color: black;
}

h1 {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}

h2 {
    text-align: left;
    margin-left: 10px;
}

h3 {
    text-align: center;
}

.tempDiv {
    border-style: groove;
    border-radius: 25px;
}

.threshDiv {
    border-style: groove;
    border-radius: 25px;
    margin-top: 40px;
    padding-bottom: 10px;
}

.threshSetDiv {
    border-style: groove;
    border-radius: 25px;
    margin: auto;
    margin-top: 40px;
    width: 50%;
}

.thresholdLabel {
    font-size: 1.5em;
    font-weight: bolder;
}
.form-inline {
    margin-left: 10px;
    margin-top: 10px;
}